<p id="notice"><%= notice %></p>

<h1>Time Entries</h1>

<table>
  <thead>
    <tr>
      <th>Starts At</th>
      <th>Finishes At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= formated_time(time_entry.starts_at) %></td>
        <td><%= formated_time(time_entry.finishes_at, 'Running...') %></td>
        <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
